name: Publish

on:
  workflow_dispatch:
  push:
    tags:
    - 'v*.*.*'
    - 'v*.*.*-RC*'

env:
  JAVA_VERSION: '21'
  JAVA_DISTRIB: 'temurin'
  CLOJURE_VERSION: '1.12.3.1577'
  LEININGEN_VERSION: '2.12.0'

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: ${{ env.JAVA_DISTRIB }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: ${{ env.CLOJURE_VERSION }}
          lein: ${{ env.LEININGEN_VERSION }}
      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
            .cpcache
          key: clj-deps-${{ hashFiles('project.clj') }}
          restore-keys: clj-deps-
      - name: Determine version
        id: version
        run: |
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            TAG_NAME="${{ github.ref_name }}"
            echo "version=$TAG_NAME" >> $GITHUB_OUTPUT
          else
            SHORT_SHA=$(git rev-parse --short HEAD)
            echo "version=SNAPSHOT-$SHORT_SHA" >> $GITHUB_OUTPUT
          fi
      - name: Set version
        run: lein set-version ${{ steps.version.outputs.version }}
      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SIGNING_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Publish package
        run: lein deploy github
        env:
          CI_RW_TOKEN: ${{ secrets.CI_RW_TOKEN }}
