name: Publish

on:
  workflow_dispatch:
  push:
    tags:
    - 'v*.*.*'
    - 'v*.*.*-RC*'

env:
  JAVA_VERSION: '21'
  JAVA_DISTRIB: 'openjdk'
  CLOJURE_VERSION: '1.12.3.1577'
  LEININGEN_VERSION: '2.12.0'

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: $JAVA_DISTRIB
          java-version: $JAVA_VERSION
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: $CLOJURE_VERSION
          lein: $LEININGEN_VERSION
      - name: Determine version
        id: version
        run: |
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            TAG_NAME="${{ github.ref_name }}"
            echo "version=$TAG_NAME" >> $GITHUB_OUTPUT
          else
            SHORT_SHA=$(git rev-parse --short HEAD)
            echo "version=SNAPSHOT-$SHORT_SHA" >> $GITHUB_OUTPUT
          fi
      - name: Set version
        run: lein set-version ${{ steps.version.outputs.version }}
      - name: Configure GPG Key
        run: echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      - name: Publish package
        run: lein deploy github
        env:
          CI_RW_TOKEN: ${{ secrets.CI_RW_TOKEN }}
